@import url("../App.css");

.Subsection {
  margin: 20px 0px;
}

.subsection-title {
  font-family: var(--subheader-font);
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0px;
}

.subsection-subtitle {
  font-family: var(--subheader-font);
  font-size: 19px;
  font-weight: bold;
}
