<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p><i>Object-Oriented Design / Continuous Integration / Computational Modeling</i></p>
          <ul class="resume-item-list">
            <li><b>Quality-minded software engineer</b> dedicated to creating code that is testable, scalable, maintainable, and modular.</li>
            <li><b>Avid learner</b> with extensive experience documenting, sharing, and presenting new discoveries, best practices, and emerging theories.</li>
            <li><b>Known for tenacity in problem solving</b> - able to distill solutions from an extensive liberal arts background of technology, biology, and social sciences.</li>
          </ul>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_technical %}
      <!-- begin Technical Tools -->
      <section class="content-section">

        <header class="section-header">
          <h2>Technical Tools</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-details"><i>Experienced with</i> PHP, CSS, HTML, AngularJS, NodeJS, ReactJS, C#, Git, SVN, SQL, Python, Java, Bash, and Jenkins</h3>
        </div>
        <div class="resume-item">
          <h3 class="resume-item-details"><i>Familiar with</i> C, Conda, Docker, CI tools, Google Applications, Ruby, AutoCAD, VHDL, YAML, Makefiles, and Looker</h3>
        </div>

      </section>
      <!-- end Technical Tools -->
      {% endif %}

      {% if site.resume_section_about %}
      <!-- begin About -->
      <section class="content-section">

        <header class="section-header">
          <h2>About Me</h2>
        </header>

        <div class="executive-summary" itemprop="description">
          <p>I am driven to unite things that don't naturally go together and craft things that are greater than the sum of their parts. When not coding, I enjoy writing realistic fiction stories, composing orchestral music, and making charts and diagrams.</p>
        </div>

      </section>
      <!-- end About -->
      {% endif %}

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">iVantage Health Analytics, Newton Upper Falls, MA</h3>
          <h4 class="resume-item-details" itemprop="description">Software Engineer &bull; November, 2016 &mdash; present</h4>
          <ul class="resume-item-list">
            <li>Piloted Agile workflow using JIRA Scrum</li>
            <li>Documented and developed market analyses and reporting software for hospitals</li>
            <li>Integrated third party chat and support service into a user management system and products spanning the 4D, PHP/Javascript, and c#/.NET stacks</li>
            <li>Wrote API wrappers in PHP and used the ZendServer job queue to keep data for over 30,000 users and 1,400 hospital facilities synced across two databases and a third party service</li>
            <li>Implemented frontend Javascript, backend PHP, and database SQL data validation for form input and mass data imports</li>
            <li>Developed a user management system for storing PII, managing access and permissions to various other company products, and monitoring user activity and sessions</li> 
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Pantheon Platform, San Francisco, CA</h3>
          <h4 class="resume-item-details" itemprop="description">Engineering Intern &bull; Jan, 2016, June,2016 &mdash; Sept, 2016</h4>
          <ul class="resume-item-list">
            <li>Drove conversion of the platform’s monolithic code base to domain-centric modules by piloting binary-compiled packaging with Conda and container-based cloud deployment to Kubernetes with Docker</li>
            <li>Reduced XSS attack surface by implementing backend data validation for the account creation process</li>
            <li>Coordinated with Product and Design to standardized dashboard error messaging with Jade</li>
            <li>Spearheaded technical adherence to a unified company image with a custom linter in Bash for style formatting</li>
            <li>Reduced pressure on customer support and  improved bug triangulation by setting up error logging with Twisted that allowed engineers to find issues before clients did, and reduced noise by filtering client-side errors from logs</li>
            <li>Assisted the 24/7 on-call engineer rotation by creating automatic system and integration tests run in Docker containers that posts health metrics to Graphite and trigger Sensu alerts when tests fail in a certain pattern</li>
            <li>Raised code coverage by 10-100%, set up code coverage tracking in Coveralls and dependency checking in Gemnasium, and created testing patterns for continuous integration with CircleCI</li>
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Goldfarb Center for Public Affairs and Civic Engagement, Colby College, Waterville, ME</h3>
          <h4 class="resume-item-details" itemprop="description">Database Administrator/ Communications Liaison &bull; May, 2014 &mdash; June, 2016</h4>
          <ul class="resume-item-list">
            <li>Created and managed a FileMaker Pro database of over 10 years of alumni contacts and volunteer activity</li>
            <li>Redesigned a Wordpress and CommonSpot website to improve user experience and ease of navigation by partitioning visual data, creating collapsible tagged sections, and adding interactive menus</li>
            <li>Developed scripts to transport sensitive online information to a more secure server-bound database</li>
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Department of Music, Colby College, Waterville, ME</h3>
          <h4 class="resume-item-details" itemprop="description">Web Programmer/ Head Usher/ Events Promoter &bull; Sept, 2012 &mdash; May, 2016</h4>
          <ul class="resume-item-list">
            <li>Created and managed an SQL database to log scheduled events, instrument maintenance, and work schedules for ushers</li>
            <li>Doubled traffic to the department's Wordpress Digital Commons website by optimizing ease of access and connection to social media</li>
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Colby Museum of Arts, Colby College, Waterville, ME</h3>
          <h4 class="resume-item-details" itemprop="description">Database Administrator/ Mellon Educational and Curatorial Research Intern &bull; May, 2015 &mdash; Aug, 2015</h4>
          <ul class="resume-item-list">
            <li>Surveyed, analyzed, and presented the benefits of college-museum cooperation to the Board of Trustees</li>
            <li>Automated e-mailing, surveying, and data analyses of daily activity and visitor feedback</li>
            <li>Analyzed and presented Robert Indiana's <i>Decade: Autoportraits Vinalhaven Suite</i>, 1980 as a medium of discussion for Lagrange's Theorem</li>
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Web & Emerging Technologies, Colby Libraries, Colby College, Waterville, ME</h3>
          <h4 class="resume-item-details" itemprop="description">Web Programmer &bull; May, 2014 &mdash; Aug, 2014</h4>
          <ul class="resume-item-list">
            <li>Co-administrated the migration of the library website to an off-campus server and upgrade from LibGuides v1 to WordPress and LibGuides v2</li>
            <li>Redesigned library website for more fluid navigation and more intuitive organization using HTML tables and collapsible sections and accordians and infoboxes done in WordPress markdown</li>
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Department of Psychology, Colby College, Waterville, ME</h3>
          <h4 class="resume-item-details" itemprop="description">Social Psychology Research Assistant &bull; Sept, 2013 &mdash; Sept, 2014</h4>
          <ul class="resume-item-list">
            <li>Analyzed fairness heuristics among Major League Baseball umpires over the past 10 years with regressions and ANOVAs</li>
            <li>Created a general Implicit Association Task  template to measure the effect of subtle cues on political opinion</li>
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Private Neurology Clinic Dr. Xu Qun M.D., West Covina, CA</h3>
          <h4 class="resume-item-details" itemprop="description">Summer Intern &bull; Jun, 2010 &mdash; Sept, 2013</h4>
          <ul class="resume-item-list">
            <li>Expedited scheduling by automating the connection between calendar and patient information</li>
            <li>Familiarized with the uses, functions, and reports of MRI w/ & w/o dye, CT w/ & w/o contrast, EMG, and ultrasound</li>
          </ul>
        </div><!-- end of resume-item -->

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Department of Economics, Colby College, Waterville, ME</h3>
          <h4 class="resume-item-details" itemprop="description">Programmer &bull; Sept, 2012 &mdash; Sept, 2013</h4>
          <ul class="resume-item-list">
            <li>Created and implemented an ETL for 28,371 entries of tax and demographics data from the 2010 Census using Python and SPSS, as preparation for the 2012 Statistical Abstract for the Belgrade Lakes Watershed</li>
          </ul>
        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Colby College, Waterville, ME</h3>
          <h4 class="resume-item-details" itemprop="description">Bachelor of Arts, Computer Science &bull; 2012 &mdash; 2016</h4>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Colby College, Waterville, ME</h3>
          <h4 class="resume-item-details" itemprop="description">Bachelor of Arts, Neuropsychology &bull; 2012 &mdash; 2016</h4>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_research %}
      <!-- begin Research -->
      <section class="content-section">

        <header class="section-header">
          <h2>Research</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Model of spacial and temporal organization in the suprachiasmatic nucleus</h3>
          <h4 class="resume-item-details">Computational Biology &bull; Colby College, 2016</h4>
          <p class="resume-item-copy">An ordinary differential equation model of circadian rhythm. Our model confirms that it is possible to dissociate spatial and temporal organization in the suprachiasmatic nucleus, giving credence to a two dimensional model to circadian rhythms wherein the synchronized activation of cells is not sufficient for a healthy signal.</p>
          <p class="resume-item-copy">Presentation | <a href="https://drive.google.com/open?id=0B7Tl4ACGoqxDdFFDRERESldlVkE">2016 Colby Liberal Arts Symposium</a></a></p>
          <p class="resume-item-copy">PDF | <a href="https://drive.google.com/open?id=0B7Tl4ACGoqxDdDNzRElNSjVaNE0">Separating Space and Time in the SCN</a></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Study on the effects of aesthetics and nature on cognitive restoration</h3>
          <h4 class="resume-item-details">Cognitive Psychology &bull; Colby College, 2016</h4>
          <p class="resume-item-copy">An experiment conducted with a sample of 207 male and female undergraduate students. Our data suggests that neither aesthetics nor nature have significant cognitive restorative effects, but nature does have positive impacts on mood.</p>
          <p class="resume-item-copy">PDF | <a href="https://drive.google.com/open?id=0B7Tl4ACGoqxDSnVyYnhPeVliNGM">Is It Still Good If It Looks Bad? The Nature of Aesthetics in Restorative Environments</a></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Study on Robert Indiana's <i>Decade: Autoportraits</i> as a representation of Lagrange's Theorem</h3>
          <h4 class="resume-item-details">Mathematics &bull; Colby College, 2015</h4>
          <h4 class="resume-item-details">Art History &bull; Colby College, 2015</h4>
          <p class="resume-item-copy">An interdisciplinary mathematical and art history analysis of Robert Indiana’s <i>Decades Autoportraits: Vinalhaven Suite (1980)</i> that inspired a Colby Museum of Arts Collaborative Mathematics course on number theory.</p>
          <p class="resume-item-copy">Presentation | <a href="https://drive.google.com/open?id=0B7Tl4ACGoqxDaW1GQ0lZOWhJZGs">2015 Colby Undergraduate Summer Research Symposium</a></a></p>
          <p class="resume-item-copy">Abstract | <a href="https://drive.google.com/open?id=0B7Tl4ACGoqxDR25nSzVjNXBJdzg">Exploring mathematics in Robert Indiana’s Decade: Autoportraits Vinalhaven Suite</a></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Study on the effects of taking photos on long term memory</h3>
          <h4 class="resume-item-details">Cognitive Psychology &bull; Colby College, 2014</h4>
          <p class="resume-item-copy">An experiment conducted with a sample of 47 male and female undergraduate students. Our data suggests that while taking a picture of an object impairs memory for the object’s context, it does not affect memory for the object itself.</p>
          <p class="resume-item-copy">PDF | <a href="https://drive.google.com/open?id=0B7Tl4ACGoqxDczJjWkFxMGVPcXc">Kodak Moments: The Influence of Taking Photos of People vs. Objects on Long Term Memory</a></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Study on the effects of moral reasoning on the placebo effect</h3>
          <h4 class="resume-item-details">Social Psychology &bull; Colby College, 2014</h4>
          <p class="resume-item-copy">An experiment conducted with a sample of 120 male and female undergraduate students. Our data did not support the hypothesis that moral reasoning prompted by a company’s environmental controversy would affect the objective effectiveness of the company’s product.</p>
          <p class="resume-item-copy">PDF | <a href="https://drive.google.com/open?id=0B7Tl4ACGoqxDUzRxWXByOEtVZlU">Good Coffee is Ground in a Sense of Justice: The Placebo Effect and Moral Reasoning</a></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Study on the effects of Acetaminophen and Ethanol on the heart</h3>
          <h4 class="resume-item-details">Neurobiology &bull; Colby College, 2013</h4>
          <p class="resume-item-copy">A controlled laboratory experiment conducted on model species Uca pugilator. Our data showed that when acetaminophen and ethanol is concurrently administered to the heart, the heart only responds to the drug of higher concentration.</p>
          <p class="resume-item-copy">PDF | <a href="https://drive.google.com/file/d/0B7Tl4ACGoqxDR3djZmp5WEw1U0k/view">Effect of Acetaminophen and Ethanol Applied in Conjunction on Heart Rate and Heartbeat Amplitude, Uca pugilator</a></p>
        </div>

      </section>
      <!-- end Research -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Database Management</h4>
          <p class="resume-item-copy">Experience with creating databases both from scratch with SQL and with software like FileMaker Pro.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Leadership</h4>
          <p class="resume-item-copy">Extensive experience leading community service groups, student clubs, and research and development teams.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Computer Programming</h4>
          <p class="resume-item-copy">Experience developing in Windows, Mac, and Fedora operating systems, primarily in Java, Python, and Bash.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Research</h4>
          <p class="resume-item-copy">Published and unpublished research in Social Psychology, Cognitive Psychology, Neuropsychology, Economics, Anthropology, Contemporary Art, Music, and Mathematics.</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_awards %}
      <!-- begin Honors and Awards -->
      <section class="content-section">

        <header class="section-header">
          <h2>Honors & Awards</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Boy Scouts of America</h3>
          <h4 class="resume-item-details">BSA Eagle Scout &bull; 2012</h4>
          <p class="resume-item-copy">Awarded for six years of service with the BSA and continued demonstration of Scout Spirit.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Colby College</h3>
          <h4 class="resume-item-details">Ralph J. Bunche Scholar &bull; 2012</h4>
          <p class="resume-item-copy">Awarded for exceptional scholastic strength and leadership potential.</p>
        </div>

      </section>
      <!-- end Honors and Awards -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://www.lionsclubs.org/">Lions Club International</a></h3>
          <h4 class="resume-item-details">Student Speaker &bull; 2010 &mdash; 2013</h4>
          <p class="resume-item-copy">Spoke out about a pertinent social or political situation, i.e. border control and universal healthcare, each year, and traveled throughout California to engage in speech-based educational debate with my peers.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Publications</h2>
        </header>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Contact: rchung.email@gmail.com | <a href="https://www.linkedin.com/in/raymondyoshichung">LinkedIn</a></p>
      </footer>

    </div>

  </body>

</html>
